*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/Fundo.jpg);
    background-position: top center;
    background-size: 100% auto no-repeat;
    background-color: #121214;
}
body *{
    font-family: 'Inter', sans-serif;
    font-weight: 160;

}
header{
    margin-top: 32px;
    text-align: center;
    height: calc(120px + 32px);
}
header img:hover{
    transform: scale(1.1);
    transition: transform .3s;
}
section ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}
main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
    margin-top:32px ;
}
section{
    margin: 20px;
    padding-top: 4px;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(#9572FC   0%, #43E7AD,  50.52%,  #E2D45C 100%)
}
section h2{
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;

}
header img{
    border-radius: 100px;
}
section p{
    color: silver;
    font-weight: 400;
    font-size: 16px;
     line-height: 160%;
    letter-spacing: -0.18px;
}
.games{
    display: flex;
    justify-content: center;
}
.games img{
    width: 90px;
    border-radius:8px ;
}
section ul li:hover{
    transform: scale(1.1);
    transition: transform .3s;
}
.redes{
    display: flex;
    justify-content: center;
}
.canais{
    display: flex;
    justify-content: center;
}
.canais img{
    border-radius:50%;
    width: 70px;
    border: solid 1px #a17eff;
}
section div{
    background-color:#242632;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}
/*animation*/

header img{
    animation: topcaindo .7s backwards;
    animation-delay: .4s;
}
section{
    animation:conteudo .7s backwards ;
    animation-delay: .1s;
}
main section:nth-child(1){
    animation-delay:0 ;
}
main section:nth-child(2){
     animation-delay: .3s;
}

main section:nth-child(3){
     animation-delay: .5s;
}
@keyframes topcaindo {
     from{
        transform: translateY(-30px);
        opacity: 0;
     }
     to{
        opacity: 1;
        transform: translateY(0);
     }
}
@keyframes conteudo {
    from{
        opacity: 0;
        transform: translateX(-30px)}
    to{
        opacity: 1;
        transform: translateX(0);}
}